.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  .logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .menu{
    position: absolute;
    top: 50px;
    right: 43px;
    display: flex;
    align-items: center;
    z-index: 5;
    button{
      &:first-child{
        margin-right: 29px;
      }
    }
    .open{
      .burger{
        display: block;
      }
      .xclose{
        display: none;
      }
    }
    .close{
      .burger{
        display: none;
      }
      .xclose{
        display: block;
      }
    }
  }
  .closedMenu{
    display: none;
  }
  .openedMenu{
    display: block;
  }
}
.activeRoot{
  height: 100%;
}
@media(max-width: 900px){
  .root{
    position: fixed;
    background: #FFFFFF;
    height: 127px;
  }
}
