.root{
  background: url("../../../../public/images/main/bg.png") no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  .feedback{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media(max-width: 910px){
  .root{
    height: auto;
  }
}

