.root{
  display: flex;
  flex-flow: row wrap;
  margin-top: 40px;
  position: relative;
  z-index: 3;
  .mainPic{
    position: absolute;
    top: -203px;
    left: 612px;
    z-index: 2;
    max-width: 356px;
  }
  .tabItem{
    display: flex;
    align-items: flex-start;
    margin-right: 25px;
    margin-bottom: 45px;
    &:nth-child(3){
      margin-left: 41px;
    }
    .itemPic{
      margin-right: 11px;
      max-width: 80px;
    }
    .tabItem__title{
      font-family: TT Norms;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      max-width: 209px;
      span{
        color: #E4002B;
      }
      a{
        color:#E4002B;
        text-decoration: underline;
      }
      p{
        font-family: Cera Condensed Pro;
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 33px;
        text-transform: uppercase;
        color: #000000;
        margin: 0;
        display: block;
        align-items: center;
        span{
          margin-left: 5px;
          margin-right: 5px;
        }
        a{
          position: relative;
          &:hover::after{
            content: attr(data-title);
            background: #F6F6F6;
            border: 1px dashed #000000;
            box-sizing: border-box;
            box-shadow: 0px 2px 23px rgba(0, 0, 0, 0.79);
            border-radius: 20px 20px 0px 20px;
            position: absolute;
            top: -100px;
            left: -230px;
            text-transform: none;
            font-family: TT Norms;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
            padding: 15px 11px;
          }
        }
        img{
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 900px){
  .root{
    margin-top: 48px;
    margin-bottom: 0;
    .mainPic{
      right: 0;
      top: -312px;
      left: unset;
      max-height: 332px;
      transform: none;
    }
    .tabItem{
      padding-left: 28px;
      margin-right: unset;
      width: 100%;
      margin-bottom: 35px;
      .tabItem__title{
        p{
          a{
            &:hover{
              &:after{
                left: -190px;
              }
            }
          }
        }
      }
      .itemPic{
        margin-right: 11px;
      }
      &:nth-child(2){
        order: 0;
      }
      &:nth-child(3){
        order: 2;
        margin-left: unset;
      }
      &:nth-child(4){
        order: 1;
      }
      &:nth-child(5){
        order: 3;
        padding: 0;
        z-index: 2;
        .itemPic{
          margin-right: 5px;
        }
      }
    }
  }
}