.root{
  outline: none;
  position: relative;
  .mainPic{
    width: 100%;
    height: auto;
    margin-top: auto;
  }
  .mobPic{
    display: none;
  }
  a{
    position: absolute;
    height: 100%;
    width: 85%;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media(max-width: 900px){
  .root{
    .mainPic{
      display: none;
    }
    .mobPic{
      display: block;
      width: 100%;
      height: auto;
    }
  }
}